<h1 class="quiz-title" data-quiz-id=<%= @quiz.id %>>Editing <%= @quiz.name %></h1>
<% if !@quiz.questions.empty? %>
  <% @quiz.questions.each_with_index do |question, q_idx| %>
    <div class="panel panel-default question-panel existing-question" data-question-num=<%= q_idx %>>
      <div class="panel-heading">
        <h3 class="panel-title">Editing Existing Question #<%= q_idx %></h3>
      </div>
      <div class="panel-body">
        <textarea rows="8" cols="120"><%= question.text %></textarea>
        <% question.choices.each_with_index do |choice, c_idx| %>
          <% if choice.answer %>
            <input type="radio" class="choice-radio" name=<%= q_idx %> value=<%= c_idx %> checked>
          <% else %>
            <input type="radio" class="choice-radio" name=<%= q_idx %> value=<%= c_idx %>>
          <% end %>
          <input class="choice" type="text" value="<%= choice.text %>">
        <% end %>
        <button type="button" class="btn btn-success add-choice">Add Choice</button>
      </div>
    </div>
  <% end %>
<% else %>
  <p>Seems you haven't added questions to this quiz yet.</p>
  <p>Use the radio buttons to select the correct answer choice for the question.</p>
<% end %>

<button type="button" class="btn btn-lg btn-success add-question">Add Question</button>

<button type="button" class="btn btn-lg btn-danger submit-quiz-changes">Submit Changes</button>


<!-- hidden templating for questions and choices -->
<div class="panel panel-default hidden question-template" data-question-num="0">
  <div class="panel-heading">
    <h3 class="panel-title">Adding a New Question</h3>
  </div>
  <div class="panel-body">
    <textarea rows="8" cols="120">Enter Question Text Here</textarea>
    <button type="button" class="btn btn-success add-choice">Add Choice</button>
  </div>
</div>

<input class="choice-template hidden" type="text" value="Enter Choice Text Here">
<input type="radio" class="choice-radio-template hidden" name="0" value="0">


