<h2>Hello <%= @user.username %>!</h2>
<p>You can click on a quiz to see which questions you got right and which questions you missed!</p>
<h1>Here are you Quiz Results:</h1>

<div class="table-responsive">
  <table class="table table-bordered">
  <thead>
    <tr>
      <th>Quiz Name</th>
      <th>Submitted On</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |result| %>
      <tr class="results-row" data-results-id="<%= result.id %>">
        <td><%= Quiz.find(result.quiz_id).name %></td>
        <td><%= local_time(result.created_at) %></td>
        <td><%= number_to_percentage(result.score * 100, precision: 2) %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>