<h2>Results for <%= @quiz.name %> taken on <%= local_time(@result.created_at) %></h2>
<% @quiz.questions.each_with_index do |question, idx| %>
  <div class="panel panel-default question-list">
    <div class="panel-heading">
      <h3 class="panel-title">Question #<%= idx + 1 %> - <%= question.text %></h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <% @current_user_response = @result.user_responses.where(result_id: @result.id, question_id: question.id).first %>
        <% if @current_user_response.correct %>
          <li class="list-group-item answer"><%= Choice.find(@current_user_response.choice_id).text %></li>
        <% else %>
          <li class="list-group-item incorrect"><%= Choice.find(@current_user_response.choice_id).text %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
